<!DOCTYPE html>
<html lang="en">
<head>
  {% set css %}
  {% include "src/assets/css/tailwind.css" %}
  {% include "src/assets/css/fontawesome.css" %}
  {% include "src/assets/css/brands.css" %}
  {% include "src/assets/css/solid.css" %}
  {% include "src/assets/css/urbanist.css" %}
  {% include "src/assets/css/stars.css" %}
  {% endset %}
  {% metagen
    title=metadata.title or title,
    desc=metadata.desc or desc,
    url='https://www.braindot.fr' + page.url,
    img=image,
    img_alt=alt,
    twitter_card_type=type,
    twitter_handle=twitter,
    name=name,
    generator='eleventy'
%}
  <style>
    {{ css | postcss | safe }}
  </style>
</head>
<body>
  {{ content | safe }}
</body>
</html>
