---
layout: layouts/base.njk
---
<div id="homescreen" class="h-dvh p-4 md:p-6 xl:p-10">
  {{ content | safe }}
</div>

<script>
  for (var i = 0; i < 100; i++) {
    var star = document.createElement("div");
    star.classList.add("star");
    star.classList.add("m-0");
    star.style.animation = `twinkle ${Math.random() * 5 + 5}s linear ${Math.random() * 1 + 1}s infinite`;
    star.style.top = `${Math.random() * 100}dvh`;
    star.style.left = `${Math.random() * 100}dvw`;
    document.getElementById("homescreen").append(star);
  }
</script>
