---
layout: layouts/home.njk
title: Welcome!
metadata:
  title: Welcome to Braindot!
desc: Bienvenue chez Braindot! Juste un groupe d'amis passionnés par la création ; jeux-vidéos, applications, écrits, graphismes, etc.
name: Pierre 'McFly' Marty
---
<div class="h-full flex flex-col justify-between md:justify-normal">
  <div class="flex flex-row text-lg md:text-2xl xl:text-3xl">
    <h1 class="flex-1 tracking-wide font-light"># {{ title }}</h1>
    <div class="flex-none">
      {% include "partials/theme_selector.njk" %}
    </div>
  </div>
  <div class="flex justify-center items-center md:py-8 lg:py-24 xl:py-32">
    <h1 class="text-7xl sm:hidden tracking-wide font-light">{ b. }</h1>
    <h1 class="text-7xl lg:text-8xl xl:text-9xl tracking-wide font-light hidden sm:block">{ braindot.fr }</h1>
  </div>
  <div class="flex flex-row md:flex-col justify-between items-end md:items-center">
    <ul class="menu menu-horizontal sm:menu-vertical md:menu-horizontal text-lg sm:text-sm lg:text-lg md:order-last">
      <li>
        <a aria-label="Follow us on GitLab.com" href="https://gitlab.com/braindot" target="_blank" rel="noreferrer nofollow">
          <i class="fa-brands fa-gitlab"></i>
          <span class="hidden sm:block">GitLab.com</span>
        </a>
      </li>
      <li>
        <a aria-label="Follow us on Github.com" href="https://github.com/Braindot-fr" target="_blank" rel="noreferrer nofollow">
          <i class="fa-brands fa-github-alt"></i>
          <span class="hidden sm:block">Github.com</span>
        </a>
      </li>
      <li class="hidden">
        <a aria-label="Join our Matrix community" href="#" target="_blank" rel="noreferrer nofollow">
          <i class="fa-solid fa-message"></i>
          <span class="hidden sm:block">#community</span>
        </a>
      </li>
    </ul>
    <div class="hidden">
    <ul class="menu md:menu-horizontal items-end md:items-start text-2xl sm:text-3xl md:text-2xl lg:text-3xl">
      <li>
        <a aria-label="Discover who we are" href="/about">
          <span class="hidden md:block"><i class="fa-regular fa-hashtag"></i></span>
          about
          <span class="md:hidden"><i class="fa-regular fa-hashtag"></i></span>
        </a>
      </li>
      <li>
        <a aria-label="Read more about our projects" href="/projects">
          <span class="hidden md:block"><i class="fa-regular fa-hashtag"></i></span>
          projects
          <span class="md:hidden"><i class="fa-regular fa-hashtag"></i></span>
        </a>
      </li>
      <li>
        <a aria-label="Read our last news" href="/news">
          <span class="hidden md:block"><i class="fa-regular fa-hashtag"></i></span>
          news
          <span class="md:hidden"><i class="fa-regular fa-hashtag"></i></span>
        </a>
      </li>
    </ul>
    </div>
  </div>
</div>
