<label for="theme-selector" class="swap swap-rotate">
  <!-- this hidden checkbox controls the state -->
  <input id="theme-selector" aria-label="Switch to Light or Dark mode" type="checkbox" class="theme-controller" value="wireframe" />
  <i aria-hidden="true" class="swap-off fa-solid fa-sun"></i>    <!-- sun icon -->
  <i aria-hidden="true" class="swap-on fa-solid fa-moon"></i>    <!-- moon icon -->
</label>
